/* App.css */

.audiobook-player {
  max-width: 400px;
  background-color: gray;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.cover-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

input {
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.playPauseIcon{
  width: 50px;
}

button:hover {
  background-color: #45a049;
}
